<div class="auth-container">
  <div class="auth-card">

    <img src="assets/logon.png" alt="logo" class="logo" />

    <h2>Iniciar sesión</h2>
    @if (errorMsg) {
  <div class="error-card">
    {{ errorMsg }}
  </div>
}


    <form (ngSubmit)="login()" #f="ngForm">

      <label>Email</label>
      <input
        type="email"
        name="email"
        [(ngModel)]="email"
        placeholder="Escribe tu correo electrónico"
        required
      />

      <label>Contraseña</label>
      <input
        type="password"
        name="password"
        [(ngModel)]="password"
        placeholder="Escribe ti contraseña"
        required
      />

      <button type="submit" [disabled]="f.invalid || loading">
  @if (loading) {
    Verificando...
  } @else {
    Entrar
  }
</button>

    </form>

    <p class="link-text">
      ¿No tienes cuenta?
      <a routerLink="/register-users">Regístrate</a>
    </p>

  </div>
</div>

