.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  background: rgb(240, 180, 14);
  width: 340px;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.auth-card label {
  font-size: 13px;
  margin-top: 10px;
  display: block;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border-radius: 20px;
  border: none;
  outline: none;
  background: #f2f2f2;
}

.auth-card button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  border: none;
  border-radius: 20px;
  background: #a8b9ff;
  color: rgb(10, 12, 10);
  font-size: 15px;
  cursor: pointer;
}

.auth-card button:disabled {
  opacity: 0.6;
}

.link-text {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
}

.link-text a {
  color: #6c7cff;
  text-decoration: none;
}

.logo {
  display: block;
  margin: 0 auto 15px auto;
  width: 250px;
  height: auto;
}

