.social-block {
  margin-top: 20px;
  text-align: center;
}

.social-text {
  font-size: 11px;
  margin-bottom: 6px;
  color: #2e2e2e;
}

.social-text span {
  font-weight: 600;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-icons a {
  width: 24px;              /* tamaño del círculo */
  height: 24px;
  border-radius: 50%;
  background: #1f5f4a;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.social-icons a:hover {
  transform: scale(1.1);
}

.social-icons img {
  width: 5px;              /* tamaño real del icono */
  height: 5px;
  object-fit: contain;
}


.btn-edit,
.btn-save {
  margin-top: 15px;
  display: inline-flex;
  align-items: center;
  gap: 6px;

  padding: 8px 14px;
  border-radius: 999px;

  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;

  transition: all 0.25s ease;
}

.btn-edit:hover {
  background: #1d4ed8;
  box-shadow: 0 4px 10px rgba(37, 99, 235, 0.4);
}


