* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* HEADER */
.header {
  position: relative;
  padding: 20px 40px;
}

.header-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  left: 40px;
  width: 80px;
}

.header-text {
  text-align: center;
}

.header-text h1 {
  font-size: 30px;
  color: #3f51b5;
}


/* NAV */
.nav {
  background-color: #283593;
  text-align: center;
  padding: 12px;
  margin-bottom: 0;
}

.nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

/* SECTIONS */
.section {
  padding: 30px;
  max-width: 900px;
  margin: auto;
}

/* FOOTER */
.footer {
  background-color: #f87117;
  color: white;
  text-align: center;
  padding: 15px;
}

/* FONDO GLOBAL */
.main-bg {
  position: relative;
  min-height: 100vh;
  width: 100%;

  margin-top: 0;
  padding-top: 0;

  background-image: url("https://iphonegr.reforma.com/libre/online07/imagetransformer2/ImageTransformer.aspx?img=https://img.gruporeforma.com/imagenes/960x640/6/703/5702288.jpg&imagencompleta=1");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3 5);
  pointer-events: none;
}

.main-bg > * {
  position: relative;
  z-index: 1;
}

/* RESPONSIVE LOGO */
@media (max-width: 768px) {
  .header-content {
    justify-content: flex-start;
  }

  .header-content .logo:first-of-type {
    position: static;
    margin-left: 10px;
  }

  .header-content .logo:nth-of-type(2) {
    position: static;
    margin-left: 10px;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 50px;
  }

  .header-text h1 {
    font-size: 22px;
  }
}


body {
  margin: 0;
}

.nav {
  margin-bottom: 0;
}

.main-bg {
  padding-top: 1px;
}


/* LOGOS UNO AL LADO DEL OTRO */
.header-content .logo:first-of-type {
  left: 40px;
}

.header-content .logo:nth-of-type(2) {
  left: 140px; /* separación entre logos */
}


.logout-card {
  background: white;
  padding: 25px;
  border-radius: 18px;
  width: 300px;
  text-align: center;
  animation: pop 0.3s ease;
}

.logout-card h3 {
  margin-bottom: 8px;
}

.logout-card p {
  font-size: 14px;
  margin-bottom: 18px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons button {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.buttons .cancel {
  background: #ddd;
}

.buttons .confirm {
  background: #ff6b6b;
  color: white;
}
