<section class="section contacto-section">
  <h2>Contacto</h2>

  @if (!editando) {
    <p>📍 Dirección: {{ direccion }}</p>
    <p>📞 Teléfono: {{ telefono }}</p>
    <p>📧 Email: {{ email }}</p>
  }

  @if (editando) {
    <label>Dirección</label>
    <textarea
      [(ngModel)]="direccion"
      class="textarea-edit"
      rows="2">
    </textarea>

    <label>Teléfono</label>
    <input
      type="text"
      [(ngModel)]="telefono"
      class="input-edit" />

    <label>Email</label>
    <input
      type="email"
      [(ngModel)]="email"
      class="input-edit" />
  }

  @if (isAdmin) {
    <div class="actions">
      @if (!editando) {
        <button class="btn-edit" (click)="editar()">
          <span class="material-icons">Editar Información</span>
        </button>
      } @else {
        <button class="btn-save" (click)="guardar()">
          <span class="material-icons">Guardar Información</span>
        </button>
      }
    </div>
  }
</section>
